
.contacts {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-6rem, -50%);
            transform: translate(-6rem, -50%);
    width: 24rem;
    height: 32rem;
    padding: 1rem 2rem 1rem 1rem;
    box-sizing: border-box;
    border-radius: 1rem 0 0 1rem;
    cursor: pointer;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform 500ms;
    transition: -webkit-transform 500ms;
    transition: transform 500ms;
    transition: transform 500ms, -webkit-transform 500ms;
  }
  .contacts h2 {
    margin: 0.5rem 0 1.5rem 5rem;
  }
  .contacts .fa-bars {
    position: absolute;
    left: 2.25rem;
    color: #999;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  .contacts .fa-bars:hover {
    color: #666;
  }
  .contacts .contact:last-child {
    margin: 0;
  }
  .contacts:hover {
    -webkit-transform: translate(-23rem, -50%);
            transform: translate(-23rem, -50%);
  }

/* individual contacts */

.contact {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 5rem;
    height: 4.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .contact .pic {
    position: absolute;
    left: 0;
  }
  .contact .name {
    font-weight: 500;
    margin-bottom: 0.125rem;
  }
  .contact .message, .contact .seen {
    font-size: 0.9rem;
    color: #999;
  }
  .contact .badge {
    box-sizing: border-box;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.125rem;
    border-radius: 1rem;
    top: 0;
    left: 2.5rem;
    background: #333;
    color: white;
  }

  /* Cpt. America Profile */

  .pic.rogers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png");
  }

/* Stark  */

.pic.stark {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png");
  }

/* Hulk  */

.pic.banner {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg");
  }

/* Thor */

.pic.thor {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg");
  }

/* Cpt. Marvel */

.pic.danvers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png");
  }

