.chat {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 28rem;
    height: 38rem;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;
    background: white;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
  }
  .chat .contact.bar {
    flex-basis: 3.5rem;
    flex-shrink: 0;
    margin: 1rem;
    box-sizing: border-box;
  }
  .chat .messages {
    padding: 1rem;
    background: #27282A;
    flex-shrink: 2;
    overflow-y: auto;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
    min-height: 25rem;
    scroll-snap-type: y proximity;

  }
  .chat .messages .time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  
  .chat .messages .message .typing {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
  }
  .chat .messages .message .typing.typing-1 {
    -webkit-animation: typing 3s infinite;
            animation: typing 3s infinite;
  }
  .chat .messages .message .typing.typing-2 {
    -webkit-animation: typing 3s 250ms infinite;
            animation: typing 3s 250ms infinite;
  }
  .chat .messages .message .typing.typing-3 {
    -webkit-animation: typing 3s 500ms infinite;
            animation: typing 3s 500ms infinite;
  }
  .chat .VoiceButton {
    box-sizing: border-box;
    flex-basis: 5rem;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding: 0 0.5rem 0 1.5rem;
  }
  .chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 1.125rem;
    -webkit-box-flex: 2;
            flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-family: Red hat Display, sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
  }

  .pic.mossimo {
    background-image: url("./JARVIS.jpg");
  }
  

  .audioButton {
    box-shadow: 0px 0px 0px 0px #27282A;
    background-color:#1acf99f5;
    border-radius:28px;
    border:1px solid #1acf99f5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #1acf99f5;
  }
  .audioButton:hover {
    background-color:#2ed1a0d8;
  }
  .audioButton:active {
    position:relative;
    top:1px;
  }
  