@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap");
body, html {
  font-family: Red hat Display, sans-serif;
  font-weight: 400;
  line-height: 1.25em;
  letter-spacing: 0.025em;
  color: #333;
  background: #F7F7F7;
}

.center {
  position: absolute;
  top: 50%;
  left: 54%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* calc(50% + 12rem); */
.pic {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}


@-webkit-keyframes typing {
  0%, 75%, 100% {
    -webkit-transform: translate(0, 0.25rem) scale(0.9);
            transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(0, -0.25rem) scale(1);
            transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}

@keyframes typing {
  0%, 75%, 100% {
    -webkit-transform: translate(0, 0.25rem) scale(0.9);
            transform: translate(0, 0.25rem) scale(0.9);
    opacity: 0.5;
  }
  25% {
    -webkit-transform: translate(0, -0.25rem) scale(1);
            transform: translate(0, -0.25rem) scale(1);
    opacity: 1;
  }
}



